.ticket{
    background-color: #111 !important;
    height: 100vh;
    width: 100vw; 
}

.ticketwhite{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    height: 100%;
    width: 100%;
}

.ticket1{
    align-items: start;
    line-height: 50%;
    display: flex;
    justify-content: space-evenly;
}

.ticket11{
    font-size: small;
}

.ticket12 img{
    height: 50px;
    width: 150px;
}

.ticket13 img{
    height: 60px;
    width: 50px;
}

.ticket2{
    background-color: #15457c;
    height:100vh;
    width: 100vw;
}

.ticket3{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 50px 30px;
    padding: 10px;
    height:85%;
}

table, td {
    width: 100%;
    border-collapse: collapse;
    border:1px solid black;
    background-color: #f2f2f2;
}

table, th{
    padding-left: 10px;
    padding-right: 10px;
}

.ticket4{
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
}

.ticket5{
    padding-top: 50px;
}

.ticket5 h3{
    font-size: 17px;
    line-height: 30%;
}

.ticket6{
    font-size: 14px;
}

.ticket6 td{
    padding-left: 10px;
}

.qr td img{
    height: 70px;
    display: flex;
}

.ticket7{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.ticket7 button{
  width: 100px;
  background-color: rgb(231, 2, 2);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  border: 0;
}

.ticket8{
    padding: 20px 10px;
}

.ticketbutton{
    width: 100px;
    height: 25px;
}